In [1]:
# install pandas and parquet
!pip install pandas
!pip install parquet
!pip install pyarrow

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: parquet in c:\python311\lib\site-packages (1.3.1)
Requirement already satisfied: thriftpy2 in c:\python311\lib\site-packages (from parquet) (0.4.17)
Requirement already satisfied: ply<4.0,>=3.4 in c:\python311\lib\site-packages (from thriftpy2->parquet) (3.11)
Requirement already satisfied: six~=1.15 in c:\python311\lib\site-packages (from thriftpy2->parquet) (1.16.0)

WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: pyarrow in c:\python311\lib\site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\python311\lib\site-packages (from pyarrow) (1.25.0)

WARNING: There was an error checking the latest version of pip.

Opis kolona:

- datum_dolaska - datum kada bi gost trebao stići u hotel
- datum_kreiranja_rezervacije - datum kada je rezervacija kreirana
- datum_odjave - datum kada je gost napustio hotel
- datum_otkazivanja_rezervacije - datum kada je rezervacija otkazana
- broj_odraslih_gostiju - broj odraslih koji će boraviti u rezerviranim sobama
- broj_djece_gostiju - broj djece koji će boraviti u rezerviranim sobama
- zemlja_gosta - zemlja iz koje gost dolazi. Kategorije su zapisane u ISO 3155–3:2013 formatu
- kanal_prodaje_id - id kanala prodaje preko kojeg je rezervacija napravljena (primjeri: direktna rezervacija, agencija, online)
- tip_sobe_id - id tipa sobe koju je gost rezervirao
- cijena_nocenja - cijena jednog noćenja za pojedinu rezeraciju
- status_rezervacije - status rezervacije (Check-Out, Canceled, No-Show)
- rezervacija_id - id rezervacije
- gost_id - id gosta

In [2]:
import pandas as pd
dataset_path = '../data/raw/export_df.parquet'

In [3]:
df = pd.read_parquet(dataset_path)
df.head()

,hotel_id,datum_dolaska,datum_kreiranja_rezervacije,datum_odjave,datum_otkazivanja_rezervacije,broj_odraslih_gostiju,broj_djece_gostiju,zemlja_gosta,kanal_prodaje_id,tip_sobe_id,cijena_nocenja,status_rezervacije,rezervacija_id,gost_id
0,0,2015-07-01,2015-01-21,2015-07-01,None,2,0.0,PRT,0,0,100.000000,Check-Out,1313223,1077152
1,0,2015-07-01,2015-06-10,2015-07-01,None,2,0.0,PRT,0,0,100.000000,Check-Out,1313224,1017906
2,0,2015-07-01,2015-05-13,2015-07-02,None,1,0.0,GBR,0,1,64.991345,Check-Out,1313225,1039896
3,0,2015-07-01,2014-05-30,2015-07-02,None,1,0.0,GBR,1,1,74.368897,Check-Out,1313226,1008245
4,0,2015-07-01,2014-07-06,2015-07-03,None,2,0.0,GBR,2,1,130.973278,Check-Out,1313227,1093703

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119210 entries, 0 to 119209
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   hotel_id                       119210 non-null  int32
 1   datum_dolaska                  119210 non-null  datetime64[ns]
 2   datum_kreiranja_rezervacije    119210 non-null  datetime64[ns]
 3   datum_odjave                   119210 non-null  datetime64[ns]
 4   datum_otkazivanja_rezervacije  44199 non-null   object
 5   broj_odraslih_gostiju          119210 non-null  int64
 6   broj_djece_gostiju             119210 non-null  float64
 7   zemlja_gosta                   119210 non-null  object
 8   kanal_prodaje_id               119210 non-null  int32
 9   tip_sobe_id                    119210 non-null  int32
 10  cijena_nocenja                 119210 non-null  float64
 11  status_rezervacije             119210 non-null  object
 12  rezervacija_id                 119210 non-null  int32
 13  gost_id                        119210 non-null  int32
dtypes: datetime64[ns](3), float64(2), int32(5), int64(1), object(3)
memory usage: 10.5+ MB

In [5]:
df.describe()

,hotel_id,datum_dolaska,datum_kreiranja_rezervacije,datum_odjave,broj_odraslih_gostiju,broj_djece_gostiju,kanal_prodaje_id,tip_sobe_id,cijena_nocenja,rezervacija_id,gost_id
count,119210.000000,119210,119210,119210,119210.000000,119210.000000,119210.000000,119210.000000,119210.000000,1.192100e+05,1.192100e+05
mean,0.664063,2016-09-18 04:45:19.825518080,2016-06-06 09:30:00.513379584,2016-09-21 14:59:07.635265792,1.859206,0.112004,1.702357,1.503179,123.182994,1.372828e+06,1.053647e+06
min,0.000000,2015-01-01 00:00:00,2013-06-25 00:00:00,2015-01-03 00:00:00,0.000000,0.000000,0.000000,0.000000,40.003037,1.313223e+06,1.000000e+06
25%,0.000000,2016-02-29 00:00:00,2015-11-30 00:00:00,2016-03-03 00:00:00,2.000000,0.000000,2.000000,1.000000,80.917473,1.343025e+06,1.026866e+06
50%,1.000000,2016-10-08 00:00:00,2016-06-24 00:00:00,2016-10-11 00:00:00,2.000000,0.000000,2.000000,1.000000,109.455175,1.372828e+06,1.053626e+06
75%,1.000000,2017-03-15 00:00:00,2016-12-27 00:00:00,2017-03-19 00:00:00,2.000000,0.000000,2.000000,2.000000,146.425535,1.402630e+06,1.080427e+06
max,1.000000,2017-12-31 00:00:00,2017-12-31 00:00:00,2018-01-14 00:00:00,55.000000,10.000000,4.000000,8.000000,7351.295691,1.432432e+06,1.107288e+06
std,0.472319,NaN,NaN,NaN,0.575186,0.412849,0.681164,1.125512,65.494762,3.441311e+04,3.095049e+04

In [6]:
hotel_id_unique = df['hotel_id'].unique()
print(hotel_id_unique)

[0 1]

In [7]:
hotel_zero = df[df['hotel_id'] == 0]
hotel_one = df[df['hotel_id'] == 1]

assert (len(hotel_zero)+ len(hotel_one)) == len(df)

In [8]:
print(f"Prvi hotel ima {len(hotel_zero)/len(df)*100} % svih zapisa ")
print(f"Prvi hotel ima {len(hotel_one)/len(df)*100} % svih zapisa ")

Prvi hotel ima 33.5936582501468 % svih zapisa
Prvi hotel ima 66.4063417498532 % svih zapisa

In [9]:
print(hotel_zero['zemlja_gosta'].value_counts()[0:25])

zemlja_gosta
PRT    17790
GBR     6754
ESP     3937
IRL     2163
FRA     1591
DEU     1217
CN       693
NLD      507
USA      473
0        464
ITA      447
BEL      442
CHE      433
BRA      422
POL      328
SWE      301
AUT      210
RUS      193
ROU      176
FIN      150
CHN      133
NOR      119
AUS       86
LUX       78
MAR       76
Name: count, dtype: int64

In [10]:
print(hotel_one['zemlja_gosta'].value_counts()[0:25])

zemlja_gosta
PRT    32096
FRA     8220
GBR     5738
DEU     5578
ESP     4788
ITA     3120
BEL     1762
BRA     1701
USA     1525
NLD     1525
IRL     1391
CHE     1236
AUT     1000
CHN      820
SWE      686
CN       610
ISR      605
POL      566
NOR      459
RUS      428
DNK      344
AGO      336
AUS      313
ROU      309
FIN      273
Name: count, dtype: int64

In [11]:
croats = df[df['zemlja_gosta'] == 'HRV']
zeros = df[df['zemlja_gosta'] == '0']

print(f"Imamo {len(croats)} Hrvata i {len(zeros)} nepoznatih zemalja gosta")

Imamo 94 Hrvata i 552 nepoznatih zemalja gosta

In [12]:
df_copy = df
df_copy['datum_dolaska'] = pd.to_datetime(df_copy['datum_dolaska'])


df_copy['duljina_boravka'] = df_copy['datum_odjave'] - df_copy['datum_dolaska']
df_copy['duljina_boravka'] = df_copy['duljina_boravka'].dt.days

In [13]:
print(df_copy['duljina_boravka'].head(10)) #Rezervacija nije otkazana, a gosti su došli i otišli isti dan?

0    0
1    0
2    1
3    1
4    2
5    2
6    2
7    2
8    3
9    3
Name: duljina_boravka, dtype: int64

In [14]:
min_date = df_copy['datum_dolaska'].min()
max_date = df_copy['datum_dolaska'].max()

print(f"Looking at period form {min_date} to {max_date}")

Looking at period form 2015-01-01 00:00:00 to 2017-12-31 00:00:00

In [15]:
df_2015 = df_copy[df_copy['datum_dolaska'].dt.year == 2015]
df_2016 = df_copy[df_copy['datum_dolaska'].dt.year == 2016]
df_2017 = df_copy[df_copy['datum_dolaska'].dt.year == 2017]


assert len(df_2015) + len(df_2016) + len(df_2017) == len(df_copy)

In [16]:
print(f"U 2015 ima {len(df_2015[df_2015['zemlja_gosta']=='PRT'])} Portugalaca")
print(f"U 2016 ima {len(df_2016[df_2016['zemlja_gosta']=='PRT'])} Portugalaca")
print(f"U 2017 ima {len(df_2017[df_2017['zemlja_gosta']=='PRT'])} Portugalaca")

U 2015 ima 13043 Portugalaca
U 2016 ima 23023 Portugalaca
U 2017 ima 13820 Portugalaca

In [17]:
print(f"U 2015 Portugalci ostvarili {df_2015[(df_2015['zemlja_gosta'] == 'PRT') & df_2015['datum_otkazivanja_rezervacije'].notna()]['duljina_boravka'].sum()} noćenja")
print(f"U 2016 Portugalci ostvarili {df_2016[(df_2016['zemlja_gosta'] == 'PRT') & df_2016['datum_otkazivanja_rezervacije'].notna()]['duljina_boravka'].sum()} noćenja")
print(f"U 2017 Portugalci ostvarili {df_2017[(df_2017['zemlja_gosta'] == 'PRT') & df_2017['datum_otkazivanja_rezervacije'].notna()]['duljina_boravka'].sum()} noćenja")

U 2015 Portugalci ostvarili 23090 noćenja
U 2016 Portugalci ostvarili 39118 noćenja
U 2017 Portugalci ostvarili 25618 noćenja